* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  color: whitesmoke;
  text-align: center;
  background-color: black;
}

#sketch-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

canvas {
  /* Optional: no stretching */
  display: block;
  max-width: 100vw;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 5rem;
  margin-top: 10rem;
  color: #ff4081;
  max-width: 100vw;
  overflow: hidden;
}

.section {
  max-width: 85vw;
  height: 100vh;
  margin: 4rem auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 5vw;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-item {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(255, 11, 182, 0.068);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding-block: 4rem;
  font-style: italic;
  font-weight: 100;
  color: whitesmoke;
  /* From botton to top gradient */
  background: linear-gradient(
    to top,
    rgba(255, 0, 221, 0.082),
    rgba(0, 0, 0, 0.1)
  );
  width: 100%;
  overflow: hidden;
}

.pink-filter {
  transition: filter 4s ease-out;
}

.pink-filter:hover {
  filter: brightness(1.05) saturate(1.25) hue-rotate(-15deg)
    drop-shadow(0 0 8px rgba(255, 100, 200, 0.6));
  transform: scale(1.02);
  transition: filter 0.2s ease-in,
    transform 1.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}
